.rectangle {
  position: absolute;
  width: 99%;
  height: 14.5%;
  left: 0px;
  top: 0px;
  background: white;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  /* overflow: visible; */
}

.rect2 {
  position: absolute;
  width: 1440px;
  height: 50px;
  left: 0px;
  top: 86px;
  background: #009879;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  /* overflow: auto; */
}

.home {
  position: absolute;
  left: 3%;
  top: 35%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;

}

.about {
  position: absolute;
  left: 12%;
  top: 35%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
}

.marketdata {
  position: absolute;
  left: 22%;
  top: 35%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
}

.invest {
  position: absolute;
  left: 35%;
  top: 35%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
}

.list {
  position: absolute;
  left: 44%;
  top: 35%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
}

.trade {
  position: absolute;
  left: 51%;
  top: 35%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
}

.regulation {
  position: absolute;
  left: 59%;
  top: 35%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
}

.learn {
  position: absolute;
  left: 70%;
  top: 35%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
}

.resources {
  position: absolute;
  left: 77%;
  top: 35%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
}

.logo2 {
  position: absolute;
  /* max-width: 100%; */
  width: 200%;
  height: 400%;
  top: 0%;
  bottom: 0%;
  left: 1%;
  right: 10%;
}

.boxcontainer {
  /* margin: auto;
    margin-top: 20%; */
  position: relative;
  width: 30%;
  height: 45%;
  border: 2px solid #009879;
  ;
  padding: 0px 10px;
  border-radius: 50px;
  left: 33%;
  top: 28%;
  color: #009879;
}

.elementscontainer {
  position: absolute;
  width: 85%;
  height: 1%;
  left: 3%;
  top: 20%;
  /* border-radius: 2%; */
  /* border-color: black; */
  color: #009879;
  top: 3%;
}

.search {
  border: none;
  height: 2%;
  width: 110%;
  padding: 0px 5px;
  border-radius: 5px;
  font-size: 15px;
  left: 0%;
  top: 450%;


}

.search:focus {
  outline: none;
}

.material-icons {
  font-size: 26px;
  color: #2980b9;
}

.searchimg {
  /* width: 10%;
    height: 10%;  */
  position: relative;
  left: 94%;
  top: 26%;
}

.stock {
  position: absolute;
  top: 90%;
  left: 35%;
  font-size: 50%;
}

.data {
  position: absolute;
  top: 190%;
  left: 1%;
}

.content-table {
  position: absolute;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  width: 10%;
  border-radius: 2px 2px 0 0;
  /* overflow: hidden; */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  left: 100%;
  right: 100%;
  top: 89%;

}


.table {
  position: absolute;
  width: 10%;
  border-collapse: collapse;
  left: 105%;
  top: 20%;
  bottom: 50%;
  right: 90%;
}

.table td,
.table th {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 16px;

}

.table th {
  background-color: #009879;
  color: #ffffff;
}

.table tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

/*responsive*/



.top {
  position: relative;
  left: 130%;
  top: 80%;
  font-size: 50%;
  overflow: hidden;
}

/* search */
.input-group {
  position: absolute;
  left: 40%;
  top: 20%;
}

.form-label {
  position: absolute;
  left: 90%;
  width: 10%;

}

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: white;
  padding: 10px;
  font-size: 16px;
  /* left: 90%; */

}

input[type=text] {
  background-color: white;
  width: 100%;
  /* left: 90%; */
  position: absolute;
  left: 1%;

}

input[type=submit] {
  background-color: #009879;
  color: #fff;
  position: absolute;
  left: 108%;
  top: 74%;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid white;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;

}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid white;
  position: absolute;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: white;
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: #009879 !important;
  color: #ffffff;

}
@media only screen and (max-width: 300px) {
  .table td,
.table th {
  font-size: 6px;
  /* position: absolute; */
  left:1%;
  width: 0%;
}
  .table thead {
    /* display: none; */
    /* position: absolute; */
    left: 0%;
    width: 1%;
    font-size: 1%;
  }

  .table,
  .table tbody,
  .table tr,
  .table td {
    /* display:flexbox; */
    width: 2%;
    /* display:contents; */
    left: 0%;
    /* position: absolute; */
    padding-left: 20%;
  }

  .table tr {
    margin-bottom: 1px;
    left: 1%;
    /* width: 5%; */
    /* display: none; */
    padding-left: 10%;
  }

  .table td {
     /* text-align: right; */
    padding-left: 40%; 
    text-align: right;  
    
    left: 10%;
    width: 1%;
    font-size: 6%;
  }

  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 20%;
    width: 10%;
    padding-left: 10px;
    font-size: 1px;
    font-weight: bold;
    /* text-align: left; */
    left: 1%;
  }
  .data{
    position: absolute;
    width: 2%;
    left: 1%;
  }
}
@media only screen and (max-width:300px) {


  .rectangle {
    display: block;
  }

  .logo2 {
    display: block;
    width: 200%;

  }

  .input-group {
    display: block;
    left: 30%;

  }

  input[type=text] {
    width: 50%;
    left: 0%;
    top: 10%;
    font-size: 80%;
  }

  input[type=submit] {
    width: 23%;
    left: 60%;
    top: 83%;
    font-size: 70%;

  }

  input {
    font-size: 0px;
  }


  .rect2 {
    width: 105%;

  }

  .home {
    width: 1%;
    font-size: 60%;
    left: 2%;
  }

  .about {
    width: 1%;
    font-size: 60%;
    left: 15%;
  }

  .marketdata {
    width: 1%;
    font-size: 60%;
    left: 30%;
  }

  .invest {
    width: 1%;
    font-size: 60%;
    left: 45%;
  }

  .list {
    width: 1%;
    font-size: 60%;
    left: 58%;
  }

  .trade {
    width: 1%;
    font-size: 60%;
    left: 67%;
  }

  .regulation {
    width: 1%;
    font-size: 60%;
    left: 80%;
  }

  .learn {
    width: 1%;
    font-size: 60%;
    left: 80%;
  }

  .resources {
    width: 1%;
    font-size: 60%;
    left: 85%;
  }
  .data{
    width:50%;
    left: 38%;
  }


 

}
